<div class="header">
    <div class="row">
        <div class="col-md-2"></div>  
        <div class="col-md-8">
            <div style="display:flex;">
            <span class="telephone-text"> <i class="fa fa-phone icon-color" aria-hidden="true"></i>+021-95-51-84</span>
            <span class="telephone-text"><i class="fa fa-envelope-o icon-color" aria-hidden="true"></i>email@gmail.com</span>
            <span class="telephone-text"> <i class="fa fa-map-marker icon-color" aria-hidden="true"></i>1734 stonecoal Road</span>          
            <span class="right-text"><i class="fa fa-usd icon-color" aria-hidden="true"></i>USD</span>
            <span class="telephone-text"> <i class="fa fa-user icon-color" aria-hidden="true"></i>My Account</span>
        </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
     <div style="display:flex;">
<p class="header-title">Electro</p>
<input type="text" class="search" placeholder="Search here" name="search">
<div class="search-btn">Search</div>

<span class="second-right-text"><i class="fa fa-heart icon-color" aria-hidden="true"></i>Your Wishlist</span>
<span class="cart-text"><i class="fa fa-shopping-cart icon-color" aria-hidden="true"></i>Your Cart</span>
</div>
<div class="col-md-2"></div>
</div>
</div>

